*.cpuprofile
*.heap**
*.log
.DS_Store
.auth
.claude
.turbo
/test/
___*
bench-profiles-*/
bench-profiles/
coverage
dist
dist/
example.js
logs.txt
node_modules
node_modules/
packages/*/dist
wa-mob
wa-web
